/*****************************************************************************/
/**                                                                         **/
/**                                LANDING                                  **/
/**                                                                         **/
/**            Landing is a all-in-one landing page template for            **/
/**                        Notion powered by Super                          **/
/**                                                                         **/
/**                   ->  miller.mx/templates/landing  <-                   **/
/**                                                                         **/
/*****************************************************************************/

/** --- ROOT --- **/
:root {
  /* Hide Notion Header (Page title, icon and cover) */
  --notion-header-display: none;
  --landing-background: #f6f6f6;
  --max-width: 100%;
  --top-spacing: 0px;
  --color-bg-default: var(--landing-background);
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  height: 100% !important;
}

html {
  font-size: calc(12 - 1vw) !important; /* Responsive HTML font size */
}

.super-content {
  background-color: var(--landing-background);
  padding-top: var(--top-spacing) !important;
  padding-bottom: 10vh !important;
}

.notion-root {
  background-color: inherit;
}

.notion-root > .notion-text {
  background-color: inherit;
}

/* Max Width */
.max-width {
  max-width: var(--max-width) !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/** --- CUSTOM CLASSES --- **/
.sticky {
  position: fixed!important;
  background-color: transparent !important;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 1s linear;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 1s linear;
}

/** --- NOTION NAVBAR --- **/
.notion-header {
  display: var(--notion-header-display) !important;
}

.notion-navbar {
  position: fixed; /* Sticky nav-bar */
  background-color: var(--landing-background);
}

.notion-breadcrumb {
  background-color: transparent;
}

/** --- HEADING  --- **/
h1.notion-heading {
  position: fixed;
  top: 20%;
  left: 20%;
}

/** --- PARALLAX BACKGROUND  --- **/
.notion-root > .notion-image {
  min-height: 100vh;
  max-height: none;
  margin: 0;
  position: relative;
  opacity: 0.95;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.notion-root > .notion-image > picture {
  display: none;
}

.notion-root > .notion-image > div > img {
  display: none;
}

/** --- COLUMN LIST --- **/
.notion-column-list {
  padding: 10px 15%;
  background-color: inherit;
}

/** --- CALLOUT --- **/
.notion-callout.border {
  border: none;
}
