body {
  -webkit-animation: fadeIn 1s !important;
  -moz-animation: fadeIn 1s !important;
  animation: fadeIn 1s !important;
  text-align: center !important;
}

::selection {
  background: #eee !important;
}
.notion-divider {
  border-bottom: 1px solid var(--color-dividers) !important;
}

.notion-header {
  display: none !important;
}

.super-content {
  background-color: var(--caffeine-background-color);
  padding-top: var(--top-spacing) !important;
  padding-bottom: 10vh !important;
}

.notion-root {
  background-color: inherit;
}

.notion-root > .notion-text {
  background-color: inherit;
}

/** --- MAX WIDTH --- **/
.max-width {
  max-width: var(--max-width) !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/** --- CUSTOM CLASSES --- **/
.sticky {
  position: fixed !important;
  background-color: transparent !important;
}

.fixed {
  position: fixed !important; /* Sticky nav-bar */
  background-color: var(--caffeine-background-color) !important;
}

/** --- HEADING  --- **/
h1.notion-heading {
  position: fixed;
  top: var(--caffeine-header-top);
  left: var(--caffeine-header-left);
}

/** --- PARALLAX BACKGROUND  --- **/
.notion-root > .notion-image {
  min-height: 100vh;
  max-height: none;
  margin: 0;
  position: relative;
  opacity: 0.95;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.notion-root > .notion-image > picture {
  display: none;
}

.notion-root > .notion-image > div > img {
  display: none;
}

/** --- COLUMN LIST --- **/
.notion-column-list {
  padding: 50px 15%;
  background-color: inherit;
}

/** --- CALLOUT --- **/
.notion-callout.border {
  border: none;
}

/*--------- EMBED ---------*/
.notion-embed__container > iframe {
  background-color: inherit !important;
}
