.notion-navbar {
    height: var(--navbar-height) !important;
}

.notion-breadcrumb__divider,
.notion-breadcrumb__item:not(:first-child) {
    display: none !important;
}

.notion-navbar a[href="/"] {
    display: flex !important;
}

.notion-navbar>a:hover {
    background: none !important;
}

.notion-navbar__title {
    font-size: 18px !important;
    overflow: visible !important;
}

.notion-breadcrumb {
    height: 100%;
}

.notion-breadcrumb__item {
    border: none!important;
  }
  

@media (max-width: 900px) {

    .notion-navbar {
        justify-content: center !important;
    }

    .notion-navbar__title {
        margin: 0 !important;
    }

}