.notion-quote.bg-gray {
    justify-content: flex-end !important;
    padding: 0 0 0 0 !important;
    align-items: center !important;
    flex-direction: row !important;
    background: var(--caffeine-cta-background) !important;
    border-radius: 8px !important;
    font-weight: 600 !important;
    box-shadow: none !important;
    position: fixed !important;
    font-size: 16px !important;
    display: flex !important;
    z-index: 9999 !important;
    height: 38px !important;
    margin: 14px 10px !important;
    right: 0 !important;
    top: 0 !important;
}

.notion-quote.bg-gray span,
.notion-quote.bg-gray .link {
    justify-content: center !important;
    align-items: center !important;
    display: flex !important;
    height: 100% !important;
}

.notion-quote.bg-gray .notion-semantic-string .link {
    letter-spacing: -0.2px !important;
    padding: 0 20px !important;
    line-height: 1 !important;
}

.notion-quote {
    box-shadow: none!important;
    background-color: white!important;
    border-radius: 12px !important;
    text-align: left !important;
    padding: 50px !important;
    border: none !important;
    margin: 0;
}
