:root {
  --color-text-default: #000 !important;
  --color-text-gray: #8f9ba8 !important;
  --color-text-default-light: #8f9ba8 !important;
  --color-bg-default: #f9fafe !important;
  --color-white: #fff !important;
  --color-dividers: #edeef3 !important;
  --color-bg-default: var(--landing-background);

  --navbar-height: 64px !important;
  --column-spacing: 80px !important;
  --max-width: 100%;
  --top-spacing: 0px;
  --transition: all .2s ease-in-out !important;

  --caffeine-cta-background: rgb(51, 51, 51);
  --caffeine-font: "Roboto";
  --caffeine-background-color: var(--color-bg-default);
  --caffeine-header-top: 20%;
  --caffeine-header-left: 10%;
}
